.inter{
  font-family: "Inter", sans-serif;
}

body{
    background-color:#1c0b35;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}


/* ////////////////////////////////////////////////// Navigation bar style /////////////////////////////////////////////////////////////////////// */

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.menu{
    display: flex;
    justify-content:space-between;
    gap: 30px;

}

.menu a{
    text-decoration: none;
    color: white;
}

.btn{
    padding: 12px 20px;
    border-radius: 1000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); 
    font-size: 16px;
    color: white;
    border: none;
    
    
}

span{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  
}


.navbar h3{
    font-size: 35px;
    color: white;
}

hr{
    margin-top: 10px;
}


/* ////////////////////////////////////////////////// Banner section  style /////////////////////////////////////////////////////////////////////// */

.banner{
    padding-top: 180px;
    background-image:url("./assets/hero-circle.png"),url("./assets/hero-bg.png");
    background-position: 50% 30%  , center;
    background-repeat: no-repeat;
}


.btn-2{
    padding: 12px 20px;
    border-radius: 1000px;
    font-size: 16px;
    color: white;
    border: 1px solid #00ff88;
    background: none;

}

.banner-heading{
    text-align: center;
    position: relative;
}

.banner-heading h1{
    padding-top: 120px;
    font-size: 50px;
}

.banner-heading p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-heading button{
    margin-top: 40px;
}

.tooltip{
    position: absolute;
    background-color: #00ff88;
    padding:1px 2px;
    border-radius: 100px;
    width: 70px;
    font-size: 13px;
    color: black;
    font-weight: bold;
    top: -20%;
    left: 54%;
}