.inter{
  font-family: "Inter", sans-serif;
}

body{
    background-color:#1c0b35;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.hidden{
    display: none;
}


/* ////////////////////////////////////////////////// Navigation bar style /////////////////////////////////////////////////////////////////////// */

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 10px;
}
#burger{
    display: none;
}
.menu{
    display: flex;
    justify-content:space-between;
    gap: 30px;

}

.menu a{
    text-decoration: none;
    color: white;
}

.btn{
    padding: 12px 20px;
    border-radius: 1000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); 
    font-size: 16px;
    color: white;
    border: none;
    
    
}

span{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  
}


.navbar h3{
    font-size: 35px;
    color: white;
}

hr{
    margin-top: 10px;
}


/* ////////////////////////////////////////////////// Banner section  style /////////////////////////////////////////////////////////////////////// */

.banner{
    padding-top: 180px;
    background-image:url("./assets/hero-circle.png"),url("./assets/hero-bg.png");
    background-position: 50% 30%  , center;
    background-repeat: no-repeat;
}
.btn-3{
    padding: 12px 20px;
    border-radius: 1000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); 
    font-size: 16px;
    color: white;
    border: none;
}
.btn-2{
    padding: 12px 20px;
    border-radius: 1000px;
    font-size: 16px;
    color: white;
    border: 1px solid #00ff88;
    background: none;

}

.banner-heading{
    text-align: center;
    position: relative;
}

.banner-heading h1{
    padding-top: 120px;
    font-size: 50px;
}

.banner-heading p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-heading button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.tooltip{
    position: absolute;
    background-color: #00ff88;
    padding:1px 2px;
    border-radius: 100px;
    width: 70px;
    font-size: 13px;
    color: black;
    font-weight: bold;
    top: -16%;
    left: 54%;
}

/* //////////////////////////////////////////////////////////////////<!-- About the podcast section style-->/////////////////////////////////////////////////////////////////////////////// */
.podcast-text{
    text-align: center;
    padding-top: 120px;
}

.podcast-text h1{
    padding-bottom: 25px;
}

.podcast-text p{
    padding: 7px;
    color:rgb(188, 187, 187);
    
}

.podcast-rank{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 90px;
    text-align: center;
    padding-bottom: 50px;

}

.podcast-rank h1{

    color: #00ff88;

}

hr{
   margin-top: 60px;
}

/* //////////////////////////////////////////////////////<!-- why chose section style-->///////////////////////////////////////////////////////////////////////// */

.chose-heading{
    text-align: center;
    padding-top: 50px;
    
}
.chose{
    padding-top: 50px;
    background-color: #0f042d; 
}

.chose-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 40px;
   
    color: white;
    
}


.chose-card {
    background-color: #1e0b4d; 
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chose-card img {
    width: 40px;
    margin-bottom: 20px;
}

.chose-card h6 {
    font-size: 1.25rem;
    margin: 0 0 15px 0;
}

.chose-card p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #b5b5b5;
   
}


.card-1 {
    grid-row: span 2;
}


.card-2 {
    grid-column: 2 / 4; 
}

.card-3 {
    grid-column: 2 / 4; 
}


.card-4 {
    grid-column: 1 / 3; 
}

.card-5 {
    grid-column: 3 / 4; 
}


/* ///////////////////////////////////////////////////////<!-- Featured section -->///////////////////////////////////////////////////////////////////////////// */
.featured-heading{
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
}

.featured-box{
  
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    
}

.featured-box iframe{
    width: 100%;
    border-radius:20px ;
}
.featured-card{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 20px;
    padding: 15px;
    width:30%;
    height: 20%;
}

.featured-card h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.featured-card p{
    padding-bottom: 10px;
    
}

.fp{
    color: #00ff88;
    
}




/* //////////////////////////////////////////////////////<!-- Meet the host section -->//////////////////////////////////////////////////////////////// */
.host-id{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    
}

.host-id img{
    border: 1px solid white;
    padding: 10px;
    border-radius: 80%;
    background: none;
}


.host-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-top: 20px;
}

.host-heading{
    text-align: center;
    padding-top: 100px;
}

.host-section{
    display: flex;
    align-items: center;
    background-color: rgb(47, 29, 71);
    border-radius: 20px;
    margin-bottom: 120px;

}

.host-info{
    text-align: left;
}

.host-info p{
    font-size: 15px;
    color: gray;
}

.host-heading h1{
    font-size: 40px;
    padding-bottom: 30px;
}

.host-info h3{
    font-size: 30px;
    padding-bottom: 20px;
}


/* //////////////////////////////////////////////////////////<!-- Footer section style-->//////////////////////////////////////////////////////////////////////// */


.full-footer{
    text-align: center;
    padding: 120px;
    padding-left: 200px;
    
}

.full-footer h1{
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.footer-link{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
    

}


.wave{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;

}

.footer{
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    
}




/* ///////////////////////////////////////////Mobile responsive section//////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width:576px) {
    .menu{
        display: none;
    }

    .btn{
        display: none;
    }

    #burger{
    display: inline;

    }
    .banner{
        padding-top: 160px;
        background-size: 80% auto, cover;
        
    }

    .tooltip{
        top: -10%;
    }

   .podcast-rank{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

   }

   .chose-container{
        grid-template-columns: 1fr; 
    }
    
    .card-1, .card-2, .card-3, .card-4, .card-5 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .featured-box{
        flex-direction: column;
    }

    .featured-card{
        width: 100%;
        gap: 20px;
        margin-bottom: 30px;
    }


    .host-section{
        flex-direction: column;
    }

    .host-info{
        text-align: center;
    }

    .host-id{
        justify-content: center;
    }
    .full-footer {
        
        padding: 60px 20px; 
        padding-left: 20px; 
    }

    .full-footer h1 {
        font-size: 32px; 
    }

    .footer-link {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px; 
    }

    .footer {
        background-size: cover;
        background-position: center;
    }
    .footer-link p {
    display: flex;
    align-items: center;
    gap: 10px;
}

  



   }

   

    













