.inter{
  font-family: "Inter", sans-serif;
}

body{
    background-color:#1c0b35;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}


/* ////////////////////////////////////////////////// Navigation bar style /////////////////////////////////////////////////////////////////////// */

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.menu{
    display: flex;
    justify-content:space-between;
    gap: 30px;

}

.menu a{
    text-decoration: none;
    color: white;
}

.btn{
    padding: 12px 20px;
    border-radius: 1000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))); 
    font-size: 16px;
    color: white;
    border: none;
    
    
}

span{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  
}


.navbar h3{
    font-size: 35px;
    color: white;
}

hr{
    margin-top: 10px;
}


/* ////////////////////////////////////////////////// Banner section  style /////////////////////////////////////////////////////////////////////// */

.banner{
    padding-top: 180px;
    background-image:url("./assets/hero-circle.png"),url("./assets/hero-bg.png");
    background-position: 50% 30%  , center;
    background-repeat: no-repeat;
}


.btn-2{
    padding: 12px 20px;
    border-radius: 1000px;
    font-size: 16px;
    color: white;
    border: 1px solid #00ff88;
    background: none;

}

.banner-heading{
    text-align: center;
    position: relative;
}

.banner-heading h1{
    padding-top: 120px;
    font-size: 50px;
}

.banner-heading p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-heading button{
    margin-top: 40px;
    margin-bottom: 40px;
}

.tooltip{
    position: absolute;
    background-color: #00ff88;
    padding:1px 2px;
    border-radius: 100px;
    width: 70px;
    font-size: 13px;
    color: black;
    font-weight: bold;
    top: -16%;
    left: 54%;
}

/* //////////////////////////////////////////////////////////////////<!-- About the podcast section style-->/////////////////////////////////////////////////////////////////////////////// */
.podcast-text{
    text-align: center;
    padding-top: 120px;
}

.podcast-text h1{
    padding-bottom: 25px;
}

.podcast-text p{
    padding: 7px;
    
}

.podcast-rank{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 90px;
    text-align: center;
    padding-bottom: 50px;

}

.podcast-rank h1{

    color: #00ff88;

}

hr{
   margin-top: 60px;
}

/* //////////////////////////////////////////////////////<!-- Meet the host section -->//////////////////////////////////////////////////////////////// */
.host-id{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
    
}

.host-id img{
    border: 1px solid white;
    padding: 10px;
    border-radius: 80%;
    background: none;
}


.host-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-top: 20px;
}

.host-heading{
    text-align: center;
}

.host-section{
    display: flex;
    align-items: center;
    background-color: rgb(47, 29, 71);
    border-radius: 20px;

}

.host-info{
    text-align: left;
}

.host-info p{
    font-size: 15px;
    color: gray;
}

.host-heading h1{
    font-size: 40px;
    padding-bottom: 30px;
}

.host-info h3{
    font-size: 30px;
    padding-bottom: 20px;
}


/* //////////////////////////////////////////////////////////<!-- Footer section style-->//////////////////////////////////////////////////////////////////////// */


.full-footer{
    text-align: center;
    padding: 120px;
    padding-left: 200px;
    
}

.full-footer h1{
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.footer-link{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
    

}


.wave{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));-webkit-background-clip: text;-webkit-text-fill-color: transparent;

}

.footer{
    background-image: url("./assets/footer-bg.png");
    
}
